.card{
    height: 250px;
    width: 200px;
    background-color: blue;
    border-radius: 16px;
    border: solid;
    border-color: aqua;
    border-width: 2px;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;

}

button{
    color: white;
    background-color: aquamarine;
    border-radius: 4px;
    height: 20px;
    justify-self: center;
    align-self: center;

}